@import '../../styles/variables';

.visitor-counter {
    background-color: $primary-color;
    color: #fff;
    padding: 2rem;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; // Add this line to center the circle horizontally

    h2 {
        font-size: 1rem;
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
    }

    .visitor-count {
        font-size: 2rem;
        font-weight: $font-weight-light;
        line-height: 1; // Add this line to adjust the line height of the count
    }
}