// Fonts
$font-family-base: 'Poppins',
sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Colors
// $primary-color: #5e72e4;
$primary-color: #6439ff;
$secondary-color: #f7fafc;
$text-color: #32325d;
$success-color: #2dce89;
$danger-color: #f5365c;